<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Edit Limit</h4>
</div>
<div class="modal-body">
    <form method="POST" action="/manage/limits/{{ limit.id }}" class="form-horizontal" id="edit_limit_form" role="form">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type not in ['hidden', 'submit'] %}
        <div class="form-group{% if field.errors %} has-error has-feedback{% endif %}" id="{{ field.name }}_top">
            {{ field.label(class="col-sm-3 control-label") }}
            <div class="col-xs-{%- if modal %}6{% else %}5{% endif -%}">
                {% include 'generic/_form_fields.html' %}
            </div>
            <div class="col-xs-3">
                {% for error in field.errors %}
                    <span class="form-control-feedback">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</form>
</div>
<div class="modal-footer">
    <input class="btn btn-primary" id="edit_limit_submit" name="submit" type="submit" form="edit_limit_form" value="Submit">
    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
</div>

<script>
    $('#edit_limit_submit').on('click', function() {
        $("#edit_limit_form").unbind('submit').bind('submit', function(e){
            return true;
        });
    });
</script>
